ion-card{
    img {
        height: 350px;
        width: 350px;
        object-fit: cover;
    }
    ion-card-title{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        padding-bottom: auto;
    }
    ion-card-header {
        box-sizing: border-box;
        height: 80px;
    }
    width: 350px;
    
}