ion-avatar{
    width: 30px;
    height: 30px;
}

.menu-items{
    ion-button{
        --background:#50126b;
        width: 100%;
    }
}

#titleHeader{
    cursor: pointer;
}

#buttonTitle{
    background-color: transparent;
}

ion-header{
    position:absolute;
    top:0;
}

ion-menu{
    position:fixed;
}

