<app-header></app-header>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>master</ion-title>
    <ion-button [routerLink]="['/authentication']" >SING UP</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Master</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Our memes</h1>
  <section id="memes">
      <app-card *ngFor="let meme of memes" [meme]="meme"></app-card>
  </section>

</ion-content>
