form{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
ion-list{
  background: none;
}
ion-item{
  --background: none;
  --border-color:#ffffff;

}
ion-input{
  --background:none;
  --color:#ffffff;
}
ion-button[type="submit"]{
  --background: #fff300;
  --color: #50126b;
}

#who{
  z-index: 100;
  width: 7rem;
  height: 7rem;
  border-radius: 40%;
  overflow: hidden;
  display: inline-block;
  position: relative;

}
img{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
