<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{ photoURL }}" alt="Imagen de Perfil">
    <ion-card-header>
      <ng-container *ngIf="!showInput; else editName">
        <ion-card-title (click)="showInput = true">{{ displayName }}</ion-card-title>
      </ng-container>
      <ng-template #editName>
        <ion-item>
          <ion-input [(ngModel)]="nuevoNombre" placeholder="Nuevo Nombre"></ion-input>
          <ion-button slot="end" (click)="guardarNombre()">Guardar</ion-button>
        </ion-item>
      </ng-template>
      <ion-card-subtitle>{{ email }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="editarNombre()">Editar Nombre</ion-button>
      <ion-button expand="block" (click)="editarFoto()">Editar Foto</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
