ion-content{

#grid-content{
  display:grid;
  grid-template-rows: 10vh 1fr 5vh 1fr;
  grid-template-areas: "." "form" "." "change";
  max-height: 90vh;
}
}
#form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  grid-area: form;
}

#ask{
  grid-area: change;
  justify-self: center;
  color: white;
}

